* {margin:0;padding:0;}



body {
  background-image: url("../img/login-b.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-family: "Abel",sans-serif;
}
#logo-image {
  width:150px;
  height:150px;
  border: 1px solid blue;
  position: fixed;
  top: 10%;
  left: 36%;
  margin-top: 10px;
  margin-left: 100px;
  

}
#login{
  width:400px;
  height:240px;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
  margin: 0px 0px 0px -200px;
  top: 40%;
  left: 50%;
  position: absolute;
}

form{
  padding:9% 4% 19%;
  background:#f0f0f0;
  
}

input:focus {
  outline: none;
}

input[type="email"],input[type="password"]{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-size:95%;
  color:#555;

}



input[type="submit"]:hover{
  background:#6d7083;

}

#submit {
  float:left;
  width:40%;
  background:#d75931;
  border:0;
  padding:3%;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  margin-top:18px;
}

#three-things a {
	font-size:12px;
	float:right;
	cursor:pointer;
	margin-top:20px;
	line-height: 35px;
	margin-left: 10px;
 
}

.style-f {
	 text-decoration: none;
}