#new_voc_dia{
    width:300px;
    height:200px;
    border-radius:4px;
    border:1px solid #fff;
    display:none;
    position:fixed;
    top:77px;
    left:30px;

}

#new_voc_dia_tri{
    position:absolute;
    top:-14px;
    left:15px;
    width:10;
    border-top:7px solid transparent;
    border-right:7px solid transparent;
    border-bottom:7px solid #fff;
    border-left:7px solid transparent;
}

#new_voc_dia_close {
    position:absolute;
    top: -8px;
    left: 294px;
    width:15px;
    height:15px;
}

#txt_new_voc {
    width: 273px;
    height: 18px;
    margin: 10px;
}

#new_voc_dia li {
    list-style-type: none;
    font-size:16px;
    color:#cccccc;
    margin-top:20px;
}

.new_trash_click img {
    width:15px;
    height:15px;
    float:right;
    margin-right:45px;
}